* {margin:0; padding:0;}
html, body {width:100%; height:100%; font-family:Arial, Helvetica, sans-serif; font-size:12px; text-align:center;}

#salon{
	width:800px;
	height:650px;
	margin:0 auto; 
	margin-top:50px;
}
#display{
	margin-left:500px;
	position:absolute;
	width:260px;
	margin-top:10px;
}
#display ul{padding:0px;}
#display ul li{
	border:2px solid #354968;
	display:inline-block;
	padding:10px;
}

#clients_queue{
	width:120px;
	height: 500px;
	position: absolute;
	margin-left:590px;
	margin-top:90px;
	text-align:center;
	background-color: #4D6E8C;
	color: white;
}
#cashier{
	width:150px;
	height:200px;
	position:absolute;
	margin-top:390px;
	margin-left:420px;
}
#cashier img {
	width:140px;
	position: absolute;
	top: 0px;
	left: 0px;
}

#cashier_img_holder {
	width: 150px;
	float: left;
	position: relative;
	margin-left: 5px;
}
#exit{
	width:150px;
	height:200px;
	position:absolute;
	margin-top:180px;
	margin-left:420px;
}
#exit img {
	width: 140px;
	position: absolute;
	top: 0px;
	left: 0px;
}
#exit_img_holder {
	width: 150px;
	float: left;
	position: relative;
	margin-left: 5px;
}
.client{
	width: 80px;
	height: 60px;
	font-size: 10px;
	position: relative;
	float: left;
	margin-left: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.place{
	position: absolute;
	width: 400px;
	height: 140px;
}
#volkswagen{
	margin-top:150px;
}
#audi{
	margin-top:300px;
}
#bmw{
	margin-top:460px;
}
.client_1{background-image:url(images/client_1.png);}
.client_2{background-image:url(images/client_2.png);}
.client_3{background-image:url(images/client_3.png);}
.client_4{background-image:url(images/client_4.png);}
.client_5{background-image:url(images/client_5.png);}
.client_6{background-image:url(images/client_6.png);}
.client_7{background-image:url(images/client_7.png);}
.client_8{background-image:url(images/client_8.png);}
.client_9{background-image:url(images/client_9.png);}
.client_10{background-image:url(images/client_10.png);}


.car img {
	width: 90px;
	height: 80px;
	position: absolute;
	top: 0px;
	left: 0px;
}

.car {
	width: 92px;
	height: 92px;
	float: left;
	padding: 10px;
	margin: 3px;
	position: relative;
}
.ui-dialog 
{
	background: #EEEEEE;
}

.bg-light {
	background-color: #354968!important;
}
.navbar-light .navbar-brand {
	color: #fff;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show,.navbar-light .navbar-nav .show>.nav-link {
	color: #fff;
}
.navbar-light .navbar-nav .nav-link {
	color: #fff;
}

#app {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

#logo img {
	width: 500px;
	height: 500px;
	border: 1px solid #E5BEFF;
	margin-left: auto;
	margin-right: auto;
}

#images {
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
}
#images li {
	padding: 9px;
	float: left;
}

#images img {
	width: 150px;
	height: 150px;
}

.game-button {
	width: 300px;
	height: 30px;
	background-color:#354968;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: auto;
	text-align: center;
	cursor: pointer;
	color: white;
	border: 5px solid;
}

.mcq-choice {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	height: 50px;
	width: 250px;
	border-radius: 20px;
	background-color: white;
	cursor: pointer;
	line-height: 50px;
	border: "3px solid MedimSlateBlue";
}

#help
{
	width:800px;
	height:600px;
	margin:0 auto; 
	padding:30px;
}
#help h3,h4 {
	color: #354968;
}
#about {
	width:800px;
	height:600px;
	margin:0 auto; 
	padding:30px;
}

#porsche, #volkswagen,#audi,#bmw,#exit,#cashier {
	background-color: #BAC4D3;
	border: 3px solid grey;
}

